*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    
}
#navbar{
    margin-top: 15vh;
    margin-left: 15vh;
}

.banner{
width: 100%;
height: 100px;
    background-color: rgb(12, 12, 12);
    background-size: cover;
    display: flex;
    align-items: center;
    font-size: 85%;
    justify-content: space-between
    
}

.banner ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}


.banner ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.banner a:hover{
    transition: 0.5s;
    text-transform: uppercase;
    border-radius: 60px;

}


img{
    height: 50px;
    margin-left: 4vh;
}
h1{
    color: #fff;
    font-size: 2vh;
}p{
    color: #fff;
    font-size: 3vh;
}
h2{
    font-size: 5vh;
    font-style: oblique;
    color: aquamarine;
}
input{
    height: 4vh;
    width: 40vh;
    border-radius: 30px;
    border: 30px;
    color: #009688;
}
.black{
    background-color:rgb(22, 22, 22);
    margin-top: 50vh;
    height: 100px;
    width: 100%;
    text-align: center;
    

}
h3{
    color: #fff;
font-size: 3vh;
}
button{
    
    background-color: #30da2a;
    border-radius: 30px;
    height: 4vh;
    width: 7vh;
}

#I{
    
  height: 40vh;
    position: absolute;
right: 15vh;
top: 22vh;
    }

    span{
        color: rgb(48, 202, 48);
    }

    h4{
        position: absolute;
        right: 2vh;
        top: 36.5vh;
        left: 48vh;
        color: rgb(238, 229, 229);
    }